* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
}
body {
  overflow-x: hidden;
}
:root {
  --main-color: #0098fa;
  --second-color: #ffffff;
  --third-color: #89cff0;

  --fourth-color: #cae7ef;
  --fifth-color: #e8f1ff;
  --new-color: #3699a2;
  --main-transition: 0.3s;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--second-color);
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#root {
  background-color: var(--second-color);
}
/* Start LoginComponent */
.login {
  /* background-color: var(--second-color); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.right-side-wrapper {
  width: 100%;
}

.login .right-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .artwork-register {
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 62%;
}
.login .artwork-register > img {
  object-fit: cover;
  height: 90%;
  width: 90%;
}
.login .txt {
  color: transparent;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  width: 100%;
}

.login .text-wrapper {
  color: var(--main-color);
  font-weight: 700;
  line-height: 38px;
}

.login .text-wrapper-2 {
  color: #0000008a;
  font-size: 24px;
}
/* End LoginComponent */

/* Start BoxComponent */
.rectangle {
  background-color: #f6f6f6;
  border-radius: 40px;
  /* height: 55%; */
  padding: 0.5rem;
}

.welcome-to-mental {
  font-size: 2vw;
  font-weight: 400;
  line-height: normal;
}

.text-wrapper-5 {
  color: #000000;
  font-size: 3vw;
  font-weight: 500;
  line-height: normal;
}

.span {
  color: var(--main-color);
  font-weight: 600;
}

.group-3 {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content a {
  text-decoration: none;
  color: var(--main-color);
}
.content-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-one a {
  text-decoration: none;
  color: var(--main-color);
}
.signform {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding: 0.5rem;
}

.inputfield {
  width: 100%;
}
.BTN {
  align-self: flex-end;
  width: 44%;
  /* background-color: var(--main-color);
  border-color: var(--main-color); */
}
.btn-primary :hover {
  background-color: red;
}
.hide {
  display: flex;
}
.containerform {
  align-items: center;
  display: flex;
  justify-content: center;
}
.signup {
  font-size: 1vw;
}
.error {
  color: red;
}
/* End BoxComponent */

/* Start MediaQueries */
@media (max-width: 769px) {
  .login .txt {
    display: none;
  }
  .login .artwork-register {
    display: none;
  }
  .rectangle {
    justify-content: center;
    width: 100%;
    /* background-color: #A8C7A9; */
  }
  .welcome-to-mental {
    font-size: 15px;
  }
  .text-wrapper-5 {
    font-size: 27px;
  }
  .group-3 {
    top: 167px;
  }
  .hide {
    display: none;
  }
  .google {
    font-size: 14px;
  }
  .containerform {
    width: 100% !important;
  }
  .BTN {
    width: 100%;
  }
  .signup {
    display: none;
  }
  .signform {
    font-size: 14px;
  }
}
@media screen and (min-device-width: 769px) {
  .content-one {
    display: none;
  }
}
/* End MediaQueries */
/* Start SideBar */
.sidebar {
  /* width: 90%; */
  /* background-color: white; */
  box-shadow: 0 4px 6px rgba(12, 11, 11, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  /* display: none; */
}
.container-sidebar + * {
  margin-left: 257px;
  /* margin-left: 2px; */
}
.content-area {
  background-color: #dcdcdc;
}

.custom-dropdown-menu {
  height: 100px;
  overflow-y: auto;
}
.user-name,
.user-email {
  display: block;
}
.user-img {
  width: 60px;
  height: 60px;
}
.links {
  width: 100%;
  height: 100%;
  /* margin-top: 5%; */
}
.links ul li:hover {
  background-color: var(--second-color);
  border-radius: 15px;
}
.user-link {
  display: inline;
}
.logout {
  margin-left: 4%;
  margin-bottom: 4%;

  width: 90%;

  border-radius: 5px;
}
.container-sidebar {
  width: 257px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
}

.name-group {
  display: flex;
  gap: 16px;
  width: 100%;
}

.inputfield {
  flex-grow: 1;
}
main {
  /* margin-left: 300px; */

  /* min-height: calc(-70px + 100vh); */
  /* min-width: 82%; */
  width: 100%;
  max-width: calc(100% - 257px);
  max-height: auto;
}
.nav-link,
.login-button {
  position: relative;
  transition: color 0.2s ease-in-out;
}

.nav-link::after,
.login-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after,
.login-button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navbar {
  height: 60px;
  background-color: var(--fourth-color);
  position: fixed;
  z-index: 30;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  max-width: calc(100% - 257px);
}
#navbar + * {
  margin-top: 100px;
}
.tips {
  display: flex;
  justify-content: center;
}
/* Tips.css */
.tips-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  height: 310px;
  overflow-y: auto;
}

.tips-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tips-container h3 {
  font-size: 1.75em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

.tips-container h3::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tips-container ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
/* .tips-content{
  width: 100%;
} */
.tips-container li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 12px;
  margin-bottom: 12px;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.tips-container li:hover {
  background-color: #e0e0e0;
  transform: translateX(5px);
}

/* Optional: Custom scrollbar styling */
.tips-container::-webkit-scrollbar {
  width: 8px;
}

.tips-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.tips-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.tips-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  display: none;
}
@media (max-width: 768px) {
  .user-link {
    display: none;
  }
  .container-sidebar {
    width: 80px;
  }

  .tips {
    display: none;
  }

  #navbar {
    height: 78px;
    max-width: calc(100% - 80px);
  }
  .logo {
    display: flex;
  }
  .user {
    display: none;
  }
  main {
    max-width: calc(100% - 80px);
  }
  .user-name,
  .user-email {
    display: none;
  }
  .user-img {
    width: 40px;
    height: 40px;
  }
  .container-sidebar + * {
    margin-left: 80px;
  }
}
/* End SideBar */
/* Start ForumDetails */
.image-upload {
  cursor: pointer;
  margin: 0px;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  width: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.rounded-toggle-button .btn {
  border-radius: 50px;
  padding: 10px 20px;
  width: 10%;
  align-self: flex-end;
}

.rounded-toggle-button .btn.active {
  box-shadow: none;
}

.rounded-toggle-button .btn.active {
  background-color: var(--third-color);
  border-color: var(--third-color);
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 29px;
  align-self: flex-end;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--third-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.icon-container {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
}

.icon {
  font-size: 20px;
  color: #333;
}

/* .forum-card {
  margin-top: 10%;
  border-radius: 20px;
  margin-inline: 11px;
  background-color: white;
  padding: 40px 10px 17px 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
} */
#title,
#content {
  background: transparent;
  border: 2px solid var(--new-color);
}
#title::placeholder,
#content::placeholder {
  color: var(--new-color);
}

.forum-details {
  color: var(--new-color);
  font-size: 18px;
}
.forum-data {
  color: #474747;
}
.form-forum {
  width: 40%;
}
.input-groups {
  margin-bottom: 30px;
  width: 95%;
  margin-left: 3%;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.horizontal .input-group {
  flex-basis: 48%;
}
/* End ForumDetails */
/*Start Forum Item single page*/
.cont {
  width: 100%;

  display: flex;
  border-radius: 20px;
  border: 1px solid #dce9ec;
  /* overflow-y: auto; */
  /* text-align: center; */
}
.contmypost {
  width: 100%;

  display: flex;
  border-radius: 20px;

  /* overflow-y: auto; */
  /* text-align: center; */
}
.cont2 {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  border-radius: 20px;
}
.input-field {
  flex-grow: 1;
}
.vertical-line {
  border-left: 2px solid var(--fourth-color);
  height: 80px;
  margin-top: -39px;
}
.hr {
  border: 1px solid var(--fourth-color);
  margin-top: -39px;
}
hr {
  position: absolute;
  left: 41%;
  width: 20%;
  color: grey;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
.post-container {
  width: 90%;
}

.cont3 {
  background-color: #f5f9f6;
  display: flex;
  border-radius: 20px;
  overflow-y: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cont4 {
  background-color: var(--new-color);
  display: flex;
  border-radius: 20px;
  overflow-y: hidden;
  width: 100%;
}
.cont4 > input {
  display: flex;
  background-color: white;
  width: 100%;
  border-radius: 20px;
}

.cont4 > button {
  border-radius: 20px;
  background-color: #ffffff;
  color: var(--third-color);
  border: none;
}

/*End Forum Item single page*/

/* End SideBar */
/*  navbar*/

/* .logo {
  color: var(--main-color);
  font-size: x-large;
  margin: 0px;
  font-weight: bold;
} */
/*  navbar*/

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-block: 2rem;
}
.up-section {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  justify-content: space-between;
}
.up-section img {
  display: none;
}
.down-section {
  display: flex;
  flex-direction: column;
  gap: 1rem 6rem;
  align-items: center;
  justify-content: center;
}

.hero-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem 2rem;

  padding: 0.5rem 2rem;
  background-color: var(--third-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.hero-card p {
  font-size: large;
  font-weight: 600;
  margin: 0px;
}
/* flex flex-col gap-7 */
.up-section .text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* text-md  md:text-lg font-normal text-gray-500 */
.up-section .text button {
  border: none;
  outline: none;
  color: white;
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media (min-width: 1120px) {
  .down-section {
    flex-direction: row;
  }
  .up-section img {
    display: block;
  }
  .hero-card {
    padding: 1rem 4rem;
  }
}
/* Services */
/* container mx-auto flex flex-col gap-20 py-[100px] */
.services {
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.services h1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
}

/* flex justify-center items-center gap-20 */

.services .cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
}
@media (min-width: 1120px) {
  .services .cards {
    flex-direction: row;
  }
}
/* flex justify-center items-center flex-col gap-10 py-10 px-16 bg-white rounded-[20px] shadow-lg */

.services .card {
  box-shadow: 0px 0px 36px -5px rgba(54, 145, 168, 0.26);
  flex: 1;
  padding: 1.5rem 2.8rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* bg-[#A8C7A9] p-6 rounded-full */
.services .card .image {
  background-color: var(--second-color);
  border-radius: 50%;
  padding: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* className="font-bold text-2xl" */
.services .card h3 {
  font-size: 28px;
  font-weight: bold;
}

/*  className="text-gray-600 font-medium text-center" */
.services .card p {
  color: gray;
  font-weight: 500;
  text-align: center;
}
/* Services */
/* doctors */

.doctors {
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.doctors .heading h4 {
  font-weight: bold;
  color: gray;
  text-align: center;
}
.doctors .heading h1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.doctors .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3rem;
}
@media (min-width: 1120px) {
  .doctors .cards {
    flex-direction: row;
  }
}
.login-button:hover {
  background-color: "black";
  color: "white";
  border: "2px solid black";
}

.doctors .card {
  overflow: hidden;
  flex: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border-color: #f5f9f6;
  background-color: var(--fourth-color);
  align-items: center;
  gap: 2rem;
  padding-bottom: 10px;
  /* width: 100%; */
  width: 74%;
  transition: 0.3s ease-in-out;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.doctors .card .image {
  width: 100%;
  height: 300px;
  background-position: top;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
.doctors .card:hover {
  box-shadow: 0px 9px 20px 4px #a3a3a345;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.post-card {
  width: 30%;
}
.post-card:hover {
  box-shadow: 0px 9px 20px 4px #a3a3a345;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.doctors .card:nth-child(1) .image {
  background-image: url(/public/landingImages/Doctor1.png);
}
.doctors .card:nth-child(2) .image {
  background-image: url(/public/landingImages/Doctor2.png);
}
.doctors .card:nth-child(3) .image {
  background-image: url(/public/landingImages/Doctor3.png);
}
.doctors .card .name {
  text-align: center;
}
.doctors .card h3 {
  margin: 0px;
  font-size: 18px;
  color: gray;
}
.doctors .card h2 {
  margin: 0px;
  font-size: 28px;
  font-weight: bold;
}
.doctors .card .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* doctors */

/* contact */
.contact {
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
/* flex justify-center items-center gap-20 */
.contact .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 1120px) {
  .contact .cards {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .post-card {
    width: 80%;
  }
}
.dropdown-toggle::after {
  display: none !important;
}
/* flex justify-center items-center flex-col gap-10 py-10 px-16 bg-white rounded-[20px] shadow-lg */
.contact .card {
  background-color: var(--second-color);
  flex: 1;
  padding: 1.5rem 2.8rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 100%;
}
/* bg-[#A8C7A9] p-6 rounded-full */
.contact .card .image {
  padding: 16px;
}
/* className="font-bold text-2xl" */
.contact .card h3 {
  font-size: 28px;
  font-weight: bold;
}

.contact .heading h4 {
  font-weight: bold;
  color: gray;
  text-align: center;
}
.contact .heading h1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
}
/* contact */
/* articles*/

.articles {
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.articles .heading h4 {
  font-weight: bold;
  color: gray;
  text-align: center;
}
.articles .heading h1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.articles .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
}
@media (min-width: 1120px) {
  .articles .cards {
    flex-direction: row;
  }
}
.articles .card {
  background-color: "red";
  overflow: hidden;
  flex: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.articles .card .image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.articles .card .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: -50px;
}

.articles .card .info {
  flex: 1;
  padding: 30px 10px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.articles .card .info .description {
  color: #5e5e5e;
  font-size: 18px;
  font-weight: 400;
}
.articles .card .info .name {
  font-size: 24px;
  font-weight: 600;
}

.articles .card .likes {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.articles .card .likes div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.articles .card .likes div p {
  margin: 0px;
}
/* articles */
/* footer */
.footer {
  width: 100%;
  padding-block: 50px;
}
.footer footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer footer .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.footer footer .info .footer-logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer footer .info .footer-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer footer .info .footer-contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer footer span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--second-color);
}
.footer footer .rights {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer footer .rights .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 767px) {
  .footer footer .info {
    flex-direction: row;
  }
  .footer footer .rights {
    flex-direction: row;
  }
}
/* start profile style */
.nav-user {
  border-radius: 20px;
  margin-inline: 30px;
  background-color: white;
  right: 0;
  top: 2%;

  width: fit-content;
  box-shadow: 0px 9px 20px 4px #a3a3a345;
  gap: 40px;
  z-index: 38;
  position: fixed;
}
.profile-card {
  border-radius: 20px;
  margin-inline: 30px;
  margin: 20px auto;
  background-color: white;
  padding: 40px;
  min-height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0px 9px 20px 4px #a3a3a345;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 767px) {
  .profile-card {
    padding: 12px;
    padding-block: 24px;
    margin-inline: 6px;
    width: 94%;
  }
}

.profile-card h2 {
  font-weight: bold;
}
.profile-card > div {
  flex-direction: column;
  gap: 40px;
  display: flex;
  height: 100%;
  flex: 1;
}
.profile-card > div form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.profile-card > div form > div {
  flex-direction: column;
  gap: 12px;
  display: flex;
}
.profile-card > div form .form-row {
  flex-direction: column;
  gap: 6px;
  display: flex;
}
.profile-card > div form .form-row.name {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 767px) {
  .profile-card > div form .form-row.name {
    flex-direction: column;
    gap: 10px;
  }
}

.profile-card > div form .form-row.name div {
  flex-direction: column;
  gap: 6px;
  display: flex;
}
.profile-card > div form .form-row label {
  font-size: 22px;
}
@media (max-width: 767px) {
  .profile-card > div form .form-row label {
    font-size: 18px;
  }
}

.profile-card > div form .form-row input {
  color: #585858;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 12px 18px;
  font-size: 18px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 767px) {
  .profile-card > div form .form-row input {
    font-size: 16px;
  }
}
.profile-card > div form .form-row.name div > input {
  width: 200px;
}
@media (max-width: 767px) {
  .profile-card > div form .form-row.name div > input {
    width: 100%;
  }
}
.profile-card > div form .form-row input.email {
  cursor: not-allowed;
  opacity: 0.5;
}
.profile-card button {
  margin-top: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 22px;
  outline: none;
  border: none;
  padding: 8px 2px;
  box-shadow: 0px 9px 20px 4px #a3a3a345;
  background: var(--main-color);
  transition: 0.4s ease-in-out;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
@media (max-width: 767px) {
  .profile-card button {
    font-size: 18px;
    padding: 4px 2px;
  }
}
.profile-card form .form-row.image {
  justify-content: center;
  align-items: center;
}
.profile-card form .form-row.image input {
  display: none;
}
.profile-card .image-label {
  cursor: pointer;
  padding: 30px;
  background-color: rgb(194, 194, 194);
  border-radius: 50%;
  width: fit-content;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile-card label.image {
  flex-direction: column;
  gap: 4px;
  display: flex;
  align-items: center;
}
.profile-card label.image p {
  cursor: pointer;
  font-size: 18px;
  margin: 0px;
}
.profile-card label.image .user-image {
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.gender-holder {
  display: flex;
  gap: 10px;
}
.gender-holder > div {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
}
/* end profile style */
/* start notifications section page */
.notification {
  padding: 20px;
}
.notification-container {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.notification-container::hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.notification-message {
  margin-bottom: 8px;
  font-weight: bold;
}

.notification-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-size: 0.8rem;
}

/* end notifications section page  */
/* Start Landing */
.landing {
  position: relative;
  background-color: var(--fourth-color);
}

.landing .container {
  min-height: calc(100vh - 164px);
  display: flex;
  align-items: center;
  /* padding-bottom: 120px; */
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
/* .user-card {
  border-radius: 20px;
  margin-inline: 30px;
  background-color: white;
  padding: 40px;
  min-height: 42%;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0px 9px 20px 4px #a3a3a345;
  gap: 40px;
  z-index: 38;
  position: fixed;
} */
/* NavUser.css */
.dropdown-toggle::after {
  display: none !important;
}

.landing .image {
  flex: 1;
  display: flex;
  justify-content: center;
}
.landing .image img {
  margin-top: 10%;
  width: 100%;
  max-width: 600px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 768px) {
  .landing .image {
    display: none;
  }
}
.landing .container a button {
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.landing .container a button:hover {
  background-color: var(--third-color);
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* start notifications */
.notification-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #e5e7eb;
}
.notification-item.unread {
  background-color: #b7c8f5;
}
.notification-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  margin-right: 1rem;
}

.notification-content {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 0.25rem;
}
.notification-content p {
  margin: 0;
}
.notification-username {
  font-weight: 600;
  margin: 0;
}

.notification-date {
  font-size: 0.75rem;
  color: #6b7280;
  text-align: end;
  margin: 0;
}
.notification-icon {
  width: 100%;
}

.notification-button {
  position: relative;
  outline: none;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.notification-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ef4444;
  color: white;
  border-radius: 9999px;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifications-dropdown {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  width: 20rem;
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 24rem;
  overflow-y: auto;
}

.notifications-actions {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  border-bottom: 1px solid #e0e0e0;
}
.notifications-actions button {
  border: none;
  padding: 4px 8px;
  background-color: #336180;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white;
}
.notification-skeleton {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #aaaaaa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skeleton-img {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #aaaaaa;
  border-radius: 9999px;
  margin-right: 0.5rem;
  animation: pulse 2s infinite;
}

.skeleton-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.skeleton-line {
  background-color: #aaaaaa;
  border-radius: 0.25rem;
  animation: pulse 2s infinite;
}

.skeleton-line-short {
  height: 0.95rem;
  width: 25%;
}

.skeleton-line-long {
  height: 0.8rem;
  width: 75%;
}

.skeleton-end {
  display: flex;
  justify-content: flex-end;
}

.skeleton-end-line {
  height: 0.7rem;
  width: 40%;
  text-align: end;
}

/* Animation */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* end notifications */

/* start myPosts */
.userImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
}
.mypost {
  display: flex;
  flex-direction: column;
}

.mypost .comments {
  width: 100%;
  text-align: end;
  padding: 10px;
}
.postImg {
  display: flex;
  justify-content: center;
}
.postImg img {
  width: 80%;
  object-fit: cover;
  max-height: auto;
  display: block;
  object-fit: cover;
}
.feed {
  max-width: 1200px;
  margin: auto;
}
/* end myPosts */
/* start create form */

.forum-card {
  margin: auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  border: 1px solid #d4d4d4;
  width: 100%;
}

.forum-card h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.forum-card form {
  display: flex;
  flex-direction: column;
}

.forum-card input[type="text"],
.forum-card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.forum-card .dropzone {
  height: 200px;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.forum-card .dropzone p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.forum-card .uploaded-image {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.forum-card .uploaded-image img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.forum-card .uploaded-image .remove-image {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}

.forum-card .error {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.forum-card .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 15px;
}

.forum-card .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.forum-card .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.forum-card .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.forum-card input:checked + .slider {
  background-color: #3699a2;
}

.forum-card input:checked + .slider:before {
  transform: translateX(26px);
}

.forum-card button {
  padding: 10px 20px;
  background-color: var(--new-color);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  width: 69%;
  transition: background-color 0.3s;
}

.forum-card button:disabled {
  background-color: #ccc;
}
.forum-card button:hover {
  background-color: grey;
}

/* ForumList.css */
.post-container {
  cursor: pointer;
  transition: transform 0.3s;
}

.post-container:hover {
  transform: translateY(-5px);
}

.post-photo {
  width: 34%;
  height: auto;
  padding: 10px;
  object-fit: cover;
  border-radius: 8px;
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.icon-container {
  margin-right: 15px;
  cursor: pointer;
}

.icon {
  font-size: 24px;
}

.full-width .cont {
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .forum-card {
    width: 90%;
  }
}
/* end create form */
/* test */

.MentalHealthTest {
  max-width: 80%;
  margin: 20px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 100px;
  padding-block: 60px;
  border: 2px solid #ececec;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.MentalHealthTest h3 {
  margin-bottom: 80px;
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  color: var(--new-color);
}
.q {
  display: flex;
}
.form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

.MentalHealthTest label {
  margin-bottom: 8px;
  font-size: 22 px;
  font-weight: 400;
  text-align: center;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-xxl,
.navbar > .container-xl {
  justify-content: end;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm {
  justify-content: center;
}

.input,
.select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.radio-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.radio-input {
  margin-right: 5px;
}
.options-container {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
}

.option {
  flex: 1 1 45%;
}

.option-1,
.option-2 {
  order: 1;
}

.option-3,
.option-4 {
  order: 2;
}

.submit-btn {
  padding: 10px 20px;
  background-color: var(--new-color);
  border-color: var(--new-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.test-btn {
  background-color: var(--new-color);
  border-color: var(--new-color);
  color: white;
  border-radius: 15px;
}
.test-btn:hover {
  background-color: grey;
  color: white;
}
.submit-btn:hover {
  background-color: #0056b3;
}
@media (max-width: 600px) {
  .MentalHealthTest {
    margin: 10px;
    padding: 6px;
  }
  .MentalHealthTest h3 {
    font-size: 2rem;
  }
}
.MentalHealthTest {
  margin: 100px auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 300px;
}
.form-check-input[type="radio"] {
  border-color: black;
}
.form-check-input:checked {
  background-color: var(--new-color);
}
.textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.select-wrapper {
  position: relative;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  background-color: white;
  cursor: pointer;
}

.select-wrapper::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 30px;
}
.result-section {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
}

.result-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.result-header h4 {
  margin: 0;
  color: #333;
}

.result-description {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.result-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.result-actions button,
.accordion-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result-actions button:first-child,
.accordion-content button {
  background-color: var(--new-color);
  color: white;
}

.result-actions button:last-child,
.accordion-content button:last-child {
  background-color: var(--third-color);
  color: white;
}

.result-actions button:hover {
  opacity: 0.9;
}

.accordion {
  margin-top: 30px;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-title {
  width: 100%;
  text-align: left;
  padding: 15px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.accordion-title:hover,
.accordion-title.active {
  background-color: #e0e0e0;
}

.accordion-content {
  padding: 20px;
  background-color: white;
}

.accordion-content h4 {
  margin-top: 20px;
  color: #333;
}

.accordion-content ol {
  padding-left: 20px;
}

.accordion-content li {
  margin-bottom: 10px;
}

.accordion-content p {
  margin-top: 15px;
  color: #555;
}

/* end test */
/* start doctors */

@media (max-width: 600px) {
  .filters .Slider {
    width: 220px;
  }
}
.doctors-list-container {
  overflow: hidden;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Filter button */
#chatbase-bubble-button,
#chatbase-bubble-button * {
  background-color: var(--new-color);
  border-radius: 50px;
}
.filter-toggle {
  position: fixed;
  top: 82px;
  right: 10px;
  background-color: var(--new-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-toggle svg {
  margin-right: 5px;
}

/* Filter container */
.filters {
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 133px;
  right: -400px;
  transition: right 0.3s ease;
  z-index: 1000;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -ms-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
}

.filters.show {
  right: 10px;
}

@media (max-width: 600px) {
  .filters {
    width: calc(100% - 20px);
    right: -100%;
  }

  .filters.show {
    right: 10px;
  }
}

/* Filter inputs */
.filters input,
.filters .gender-filter input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Gender filter */
.gender-filter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gender-filter label {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Fees filter */
.fees-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fees-inputs {
  display: flex;
  gap: 10px;
}

.DoctorCardSkeleton {
  display: flex;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.DoctorCardSkeleton .skeleton-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 1;
}

.DoctorCardSkeleton .skeleton-line-short {
  height: 1.2rem;
  width: 25%;
}

.DoctorCardSkeleton .skeleton-line-long {
  height: 0.8rem;
  width: 36%;
}
.DoctorCardSkeleton .skeleton-end-line {
  height: 0.7rem;
  width: 10%;
}
.DoctorCardSkeleton .skeleton-img {
  width: 3rem;
  height: 3rem;
  background-color: #aaaaaa;
  border-radius: 9999px;
  margin-right: 0.5rem;
  animation: pulse 2s infinite;
}
.doctors-list {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
}
.doctors-list h1 {
  margin-bottom: 50px;
  text-align: center;
}
.doctor-card {
  margin-top: 2%;
  overflow-x: hidden;
  text-decoration: none;
  color: #000;
  display: flex;
  padding: 10px;
  margin-left: 2%;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
}
.doctor-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
}
/* end doctors */
/* start appointments */
.user-appointments {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
}
.user-appointments h1 {
  margin-bottom: 50px;
  text-align: center;
}
.appointment-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1000;
}
.appointment-card {
  cursor: pointer;
  display: flex;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.appointment-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.appointment-card.confirmed {
  background-color: lightgreen;
}
.appointment-card.pending {
  background-color: lightyellow;
}
.appointment-card.rejected {
  background-color: rgb(255, 224, 224);
}
.appointment-card.cancelled {
  background-color: rgb(218, 218, 218);
}
.appointment-card p {
  margin: 0px;
}
.appointment-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* Blurred background effect */
  z-index: 999;
}

.appointment-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  width: 400px; /* Standardized width */
  max-width: 90%; /* Adjust as needed */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  z-index: 1000;
}
.appointment-details p {
  margin: 0px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.cancel-section {
  margin-top: 10px;
}

.cancel-section label {
  display: block;
  margin-bottom: 5px;
}

.cancel-section input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.cancel-section button {
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-section button:hover {
  background-color: #d32f2f;
}

.toast {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1100;
}
.user-appointments {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.user-appointments .user-appointments-filters {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 20px;
  flex-direction: column;
}

.user-appointments .holder-filter {
  flex: 1;
}
.reset-button {
  padding: 8px 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.fees-filter {
  display: flex;
  align-items: center;
}

.fees-inputs {
  max-width: 400px;
  display: flex;
  gap: 10px;
}

.skeleton {
  background: #e0e0e0;
  height: 20px;
  margin-bottom: 10px;
}

.skeleton-line {
  background: #e0e0e0;
  height: 20px;
  margin-bottom: 10px;
}
/* end appointments */
/* Calender */
.week-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}
.day-card {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.day-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-slots {
  max-height: 180px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.event-slot {
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.event-slot:hover {
  color: var(--main-color);
}

.book-button {
  background-color: pink;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.book-button:hover {
  background-color: hotpink;
}

.next-button {
  color: var(--main-color);
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #0056b3;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 425px) {
  .day-card {
    width: 1420px;
  }
  .card-container {
    width: 200px;
  }
}
/* End of Calender */
/* start articles */
.articles-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 20px;
}
.articles-feed .holder {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.articles-feed > h1 {
  font-size: 40px;
  margin: 20px;
}
.articles-feed .article-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.articles-feed a button {
  background-color: rgb(226, 226, 226);
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.articles-feed a button:hover {
  background-color: var(--third-color);
}
.articles-feed .article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.articles-feed .article-content {
  padding: 16px;
}

.articles-feed .article-title {
  font-size: 1.5em;
  margin: 0;
}

.articles-feed .article-description {
  margin: 10px 0;
  color: #555;
}

.articles-feed .article-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.articles-feed .loading-skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.articles-feed .skeleton-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articles-feed .skeleton-image,
.articles-feed .skeleton-title,
.articles-feed .skeleton-description,
.articles-feed .skeleton-link {
  background: #ccc;
  border-radius: 4px;
}

.articles-feed .skeleton-image {
  width: 100%;
  height: 200px;
}

.articles-feed .skeleton-content {
  padding: 16px;
}

.articles-feed .skeleton-title {
  width: 70%;
  height: 24px;
  margin-bottom: 8px;
}

.articles-feed .skeleton-description {
  width: 90%;
  height: 16px;
  margin-bottom: 8px;
}

.articles-feed .skeleton-link {
  width: 50%;
  height: 16px;
}
@media (max-width: 768px) {
  .articles-feed {
    display: none;
  }
}
/* end articles */
.forum-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.forum-list {
  flex: 1;
  overflow-y: auto;
}

.articles-feed {
  flex: 2;
  overflow-y: auto;
}

.tips-content {
  padding: 1rem;
}

.tips-content h3 {
  margin-bottom: 1rem;
}
