* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato-Bold", Helvetica;
}

:root {
  --main-color: #4caf50;
  --second-color: #dbdbdb;
  /* --main-transition:0.3s; */
}

/* Styles for the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  /* Color of the track */
  background-color: var(--second-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}

.page-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#root {
  background-color: var(--second-color);
}
/* main{
  margin: 0;
} */
/* Start LoginComponent */
.login {
  /* background-color: var(--second-color); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.right-side-wrapper {
  width: 100%;
}

.login .right-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .artwork-register {
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 62%;
}
.login .artwork-register > img {
  object-fit: cover;
  height: 90%;
  width: 90%;
}
.login .txt {
  color: transparent;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  width: 100%;
}

.login .text-wrapper {
  color: var(--main-color);
  font-weight: 700;
  line-height: 38px;
}

.login .text-wrapper-2 {
  color: #0000008a;
  font-size: 24px;
}
/* End LoginComponent */

/* Start BoxComponent */
.rectangle {
  background-color: #f6f6f6;
  border-radius: 40px;
  width: 100%;
  /* height: 55%; */
  padding: 0.5rem;
}

.welcome-to-mental {
  font-size: 2vw;
  font-weight: 400;
  line-height: normal;
}

.text-wrapper-5 {
  color: #000000;
  font-size: 3vw;
  font-weight: 500;
  line-height: normal;
}

.span {
  color: var(--main-color);
  font-weight: 600;
}

.group-3 {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content a {
  text-decoration: none;
  color: var(--main-color);
}
.content-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-one a {
  text-decoration: none;
  color: var(--main-color);
}
.signform {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding: 0.5rem;
}

.inputfield {
  width: 100%;
}
.BTN {
  align-self: flex-end;
  width: 44%;
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.btn-primary :hover {
  background-color: red;
}
.hide {
  display: flex;
}
.containerform {
  align-items: center;
  display: flex;
  justify-content: center;
}
.signup {
  font-size: 1vw;
}
.error {
  color: red;
}
/* End BoxComponent */

/* Start MediaQueries */
@media (max-width: 769px) {
  .login .txt {
    display: none;
  }
  .login .artwork-register {
    display: none;
  }
  .rectangle {
    justify-content: center;
    width: 80%;
    /* background-color: #A8C7A9; */
  }
  .welcome-to-mental {
    font-size: 15px;
  }
  .text-wrapper-5 {
    font-size: 27px;
  }
  .group-3 {
    top: 167px;
  }
  .hide {
    display: none;
  }
  .google {
    font-size: 14px;
  }
  .containerform {
    width: 100% !important;
  }
  .BTN {
    width: 100%;
  }
  .signup {
    display: none;
  }
  .signform {
    font-size: 14px;
  }
}
@media screen and (min-device-width: 769px) {
  .content-one {
    display: none;
  }
}
/* End MediaQueries */
/* Start SideBar */
.sidebar {
  background-color: #f5f9f6;
}
.container-sidebar + * {
}
.content-area {
  background-color: #dcdcdc;
}
.user,
.dropdown-menu {
  background-color: #d2dfd2;
  width: 100%;
  height: 100%;
}
.custom-dropdown-menu {
  height: 100px;
  overflow-y: auto;
}
.user-name,
.user-email {
  display: block;
}
.user-img {
  width: 50px;
  height: 50px;
}
.links {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}
.user-link {
  display: inline;
}
.logout {
  margin-left: 4%;
  margin-bottom: 4%;

  width: 90%;

  border-radius: 5px;
}
.container-sidebar {
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
}
.container-sidebar + * {
  margin-left: 350px;
}

.name-group {
  display: flex;
  gap: 16px;
  width: 100%;
}

.inputfield {
  flex-grow: 1;
}
main {
  /* margin-left: 300px; */
  min-height: 100vh;
  max-height: auto;
}
@media (max-width: 768px) {
  .user-link {
    display: none;
  }
  .container-sidebar {
    width: 80px;
  }
  .user-name,
  .user-email {
    display: none;
  }
  .user-img {
    width: 40px;
    height: 40px;
  }
  main {
    margin-left: 80px;
  }
}
/* End SideBar */
/* Start ForumDetails */
.image-upload {
  cursor: pointer;
  margin: 0px;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  width: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.forum-card {
  height: 90vh;
  background-color: #f5f9f6;
  border-radius: 17px;
}
.forum-details {
  color: var(--main-color);
}
.forum-data {
  color: #474747;
}
.form-forum {
  width: 40%;
}
.input-groups {
  margin-bottom: 30px;
  width: 95%;
  margin-left: 5%;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  border-radius: 10px;
}
.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.horizontal .input-group {
  flex-basis: 48%;
}
/* End ForumDetails */
/*Start Forum Item single page*/
.cont {
  background-color: #f5f9f6;
  display: flex;
  border-radius: 20px;
  /* overflow-y: auto; */
  /* text-align: center; */
}

.cont2 {
  background-color: #f5f9f6;
  display: flex;
  border-radius: 20px;
}
.input-field {
  flex-grow: 1;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
.post-container {
  transition: transform 0.3s ease;
  width: 90%;
}

.post-container:hover {
  transform: scale(1.1) translateX(1%);
  width: 90%;
  z-index: 1;
  margin-left: 3%;
  /* margin-right: 1%; */
}
.cont3 {
  background-color: #f5f9f6;
  display: flex;
  border-radius: 20px;
  overflow-y: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cont4 {
  background-color: #4caf50;
  display: flex;
  border-radius: 20px;
  overflow-y: hidden;
  width: 87%;
}
.cont4 > input {
  display: flex;
  background-color: white;
  width: 80%;
  border-radius: 20px;
}

.cont4 > button {
  border-radius: 20px;
  background-color: #ffffff;
  color: #4caf50;
  border: none;
}
/*End Forum Item single page*/

/* End SideBar */
/*  navbar*/

.logo {
  color: #00788d;
  font-size: x-large;
  margin: 0px;
  font-weight: bold;
}
/*  navbar*/

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-block: 2rem;
}
.up-section {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  justify-content: space-between;
}
.up-section img {
  display: none;
}
.down-section {
  display: flex;
  flex-direction: column;
  gap: 1rem 6rem;
  align-items: center;
  justify-content: center;
}

.hero-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem 2rem;

  padding: 0.5rem 2rem;
  background-color: #4caf50;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.hero-card p {
  font-size: large;
  font-weight: 600;
  margin: 0px;
}
/* flex flex-col gap-7 */
.up-section .text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.up-section .text .text-up {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* text-xl md:text-2xl font-bold text-[#0B570E] */
.up-section .text .text-up h2 {
  font-weight: 700;
  font-size: large;
  color: #0b570e;
}
/* text-2xl md:text-4xl font-semibold */
.up-section .text .text-up p {
  font-weight: 600;
  font-size: 42px;
}

/* text-md  md:text-lg font-normal text-gray-500 */
.up-section .text button {
  border: none;
  outline: none;
  background-color: #a8c7a9;
  padding: 1rem 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media (min-width: 1120px) {
  .down-section {
    flex-direction: row;
  }
  .up-section img {
    display: block;
  }
  .hero-card {
    padding: 1rem 4rem;
  }
}
/* Services */
/* container mx-auto flex flex-col gap-20 py-[100px] */
.services {
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.services h1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
}

/* flex justify-center items-center gap-20 */
.services .cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
}
@media (min-width: 1120px) {
  .services .cards {
    flex-direction: row;
  }
}
/* flex justify-center items-center flex-col gap-10 py-10 px-16 bg-white rounded-[20px] shadow-lg */
.services .card {
  flex: 1;
  padding: 1.5rem 2.8rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* bg-[#A8C7A9] p-6 rounded-full */
.services .card .image {
  background-color: #a8c7a9;
  border-radius: 50%;
  padding: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* className="font-bold text-2xl" */
.services .card h3 {
  font-size: 28px;
  font-weight: bold;
}

/*  className="text-gray-600 font-medium text-center" */
.services .card p {
  color: gray;
  font-weight: 500;
  text-align: center;
}
/* Services */
/* doctors */

.doctors {
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.doctors .heading h4 {
  font-weight: bold;
  color: gray;
  text-align: center;
}
.doctors .heading h1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.doctors .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
}
@media (min-width: 1120px) {
  .doctors .cards {
    flex-direction: row;
  }
}
.doctors .card {
  overflow: hidden;
  flex: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.doctors .card:nth-child(1) .image {
  width: 100%;
  background-image: url(/public/landingImages/doctor-1.png);
  height: 400px;
  background-position: top;
  background-size: cover;
}
.doctors .card:nth-child(2) .image {
  width: 100%;
  background-image: url(/public/landingImages/doctor-2.png);
  height: 400px;
  background-position: top;
  background-size: cover;
}
.doctors .card:nth-child(3) .image {
  width: 100%;
  background-image: url(/public/landingImages/doctor-3.png);
  height: 400px;
  background-position: top;
  background-size: cover;
}
.doctors .card .name {
  text-align: center;
}
.doctors .card h3 {
  margin: 0px;
  font-size: 18px;
  color: gray;
}
.doctors .card h2 {
  margin: 0px;
  font-size: 28px;
  font-weight: bold;
}
.doctors .card .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.doctors .card .footer {
  width: 100%;
  padding: 17px 5px;
  background-color: #4caf50;
  text-align: center;
  color: white;
}
/* doctors */

/* contact */
.contact {
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
/* flex justify-center items-center gap-20 */
.contact .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 1120px) {
  .contact .cards {
    flex-direction: row;
  }
}
/* flex justify-center items-center flex-col gap-10 py-10 px-16 bg-white rounded-[20px] shadow-lg */
.contact .card {
  background-color: #a8c7a9;
  flex: 1;
  padding: 1.5rem 2.8rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 100%;
}
/* bg-[#A8C7A9] p-6 rounded-full */
.contact .card .image {
  padding: 16px;
}
/* className="font-bold text-2xl" */
.contact .card h3 {
  font-size: 28px;
  font-weight: bold;
}

.contact .heading h4 {
  font-weight: bold;
  color: gray;
  text-align: center;
}
.contact .heading h1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
}
/* contact */
/* articles*/

.articles {
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.articles .heading h4 {
  font-weight: bold;
  color: gray;
  text-align: center;
}
.articles .heading h1 {
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.articles .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4rem;
}
@media (min-width: 1120px) {
  .articles .cards {
    flex-direction: row;
  }
}
.articles .card {
  background-color: #89b18b;
  overflow: hidden;
  flex: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.articles .card .image {
  width: 200px;
  background-image: url(/public/landingImages/books.jpg);
  height: 100%;
  min-height: 300px;
  background-position: top;
  background-size: cover;
}
.articles .card .info {
  flex: 1;
  padding: 30px 10px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.articles .card .info .description {
  color: #5e5e5e;
  font-size: 18px;
  font-weight: 400;
}
.articles .card .info .name {
  font-size: 24px;
  font-weight: 600;
}

.articles .card .likes {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.articles .card .likes div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.articles .card .likes div p {
  margin: 0px;
}
/* articles */
/* footer */
.footer {
  background-color: #4caf50;
  width: 100%;
  padding-block: 50px;
}
.footer footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer footer .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.footer footer .info .footer-logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer footer .info .footer-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer footer .info .footer-contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer footer span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a8c7a9;
}
.footer footer .rights {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer footer .rights .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 767px) {
  .footer footer .info {
    flex-direction: row;
  }
  .footer footer .rights {
    flex-direction: row;
  }
}
