:root {
  --main-color: #4caf50;
  --second-color: #dbdbdb;
  /* --main-transition:0.3s; */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato-Bold", Helvetica;
}
.page-container {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}
#root {
  background-color: var(--second-color);
}
/* Start LoginComponent */
.login {
  /* background-color: var(--second-color); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.right-side-wrapper {
  width: 100%;
}

.login .right-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .artwork-register {
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 62%;
}
.login .artwork-register > img {
  object-fit: cover;
  height: 90%;
  width: 90%;
}
.login .txt {
  color: transparent;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  width: 100%;
}

.login .text-wrapper {
  color: var(--main-color);
  font-weight: 700;
  line-height: 38px;
}

.login .text-wrapper-2 {
  color: #0000008a;
  font-size: 24px;
}
/* End LoginComponent */

/* Start BoxComponent */
.rectangle {
  background-color: #f6f6f6;
  border-radius: 40px;
  width: 100%;
  /* height: 55%; */
  padding: 0.5rem;
}

.welcome-to-mental {
  font-size: 2vw;
  font-weight: 400;
  line-height: normal;
}

.text-wrapper-5 {
  color: #000000;
  font-size: 3vw;
  font-weight: 500;
  line-height: normal;
}

.span {
  color: var(--main-color);
  font-weight: 600;
}

.group-3 {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content a {
  text-decoration: none;
  color: var(--main-color);
}
.content-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-one a {
  text-decoration: none;
  color: var(--main-color);
}
.signform {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding: 0.5rem;
}

.inputfield {
  width: 100%;
}
.BTN {
  align-self: flex-end;
  width: 44%;
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.btn-primary :hover {
  background-color: red;
}
.hide {
  display: flex;
}
.containerform {
  align-items: center;
  display: flex;
  justify-content: center;
}
.signup {
  font-size: 1vw;
}
.error {
  color: red;
}
/* End BoxComponent */

/* Start MediaQueries */
@media (max-width: 769px) {
  .login .txt {
    display: none;
  }
  .login .artwork-register {
    display: none;
  }
  .rectangle {
    justify-content: center;
    width: 100%;
    /* background-color: #A8C7A9; */
  }
  .welcome-to-mental {
    font-size: 15px;
  }
  .text-wrapper-5 {
    font-size: 27px;
  }
  .group-3 {
    top: 167px;
  }
  .hide {
    display: none;
  }
  .google {
    font-size: 14px;
  }
  .containerform {
    width: 100% !important;
  }
  .BTN {
    width: 100%;
  }
  .signup {
    display: none;
  }
  .signform {
    font-size: 14px;
  }
}
@media screen and (min-device-width: 769px) {
  .content-one {
    display: none;
  }
}
/* End MediaQueries */
/* Start SideBar */
.sidebar {
  background-color: #f5f9f6;
}
.container-sidebar + * {
}
.content-area {
  background-color: #dcdcdc;
}
.user,
.dropdown-menu {
  background-color: #d2dfd2;
  width: 100%;
  height: 100%;
}
.custom-dropdown-menu {
  height: 100px;
  overflow-y: auto;
}
.user-name,
.user-email {
  display: block;
}
.user-img {
  width: 50px;
  height: 50px;
}
.links {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}
.user-link {
  display: inline;
}
.logout {
  margin-left: 4%;
  margin-bottom: 4%;

  width: 90%;

  border-radius: 5px;
}
.container-sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
}
.name-group {
  display: flex;
  gap: 16px;
  width: 100%;
}

.inputfield {
  flex-grow: 1;
}
main {
  margin-left: 300px;
  min-height: 100vh;
  max-height: auto;
}
@media (max-width: 768px) {
  .user-link {
    display: none;
  }
  .container-sidebar {
    width: 80px;
  }
  .user-name,
  .user-email {
    display: none;
  }
  .user-img {
    width: 40px;
    height: 40px;
  }
  main {
    margin-left: 80px;
  }
}
/* End SideBar */
/* Start ForumDetails */
.forum-card {
  height: 90vh;
  background-color: #f5f9f6;
  border-radius: 17px;
}
.forum-details {
  color: var(--main-color);
}
.forum-data {
  color: #474747;
}
.form-forum {
  width: 40%;
}
.input-groups {
  margin-bottom: 30px;
  width: 95%;
  margin-left: 5%;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  border-radius: 10px;
}
.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.horizontal .input-group {
  flex-basis: 48%;
}
/* End ForumDetails */
/*Start Forum Item single page*/
.cont {
  background-color: #f5f9f6;
  display: flex;
  border-radius: 20px;
  /* overflow-y: auto; */
  /* text-align: center; */
}

.cont2 {
  background-color: #f5f9f6;
  display: flex;
  border-radius: 20px;
}
.input-field {
  flex-grow: 1;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
.post-container {
  transition: transform 0.3s ease;
  width: 90%;
}

.post-container:hover {
  transform: scale(1.1) translateX(1%);
  width: 90%;
  z-index: 1;
  margin-left: 3%;
  /* margin-right: 1%; */
}
.cont3 {
  background-color: #f5f9f6;
  display: flex;
  border-radius: 20px;
  overflow-y: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cont4 {
  background-color: #4caf50;
  display: flex;
  border-radius: 20px;
  overflow-y: hidden;
  width: 87%;
}
.cont4 > input {
  display: flex;
  background-color: white;
  width: 80%;
  border-radius: 20px;
}

.cont4 > button {
  border-radius: 20px;
  background-color: #ffffff;
  color: #4caf50;
  border: none;
}
/*End Forum Item single page*/
